@import url("http://fonts.cdnfonts.com/css/algeria");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Algeria";
}
body {
  background: #020019;
  transition: 0.5s;
}
.asd {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
}
