@import url("http://fonts.cdnfonts.com/css/algeria");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Algeria";
}
body {
  background: #f0f0f0;
  transition: 0.5s;
}
.rig {
  border-radius: 30% 30% 0% 0%;
}
.let {
  border-radius: 0% 0% 0% 90%;
  margin-left: -14px;
}
.ded {
  border-radius: 0% 0% 90% 0%;
  margin-right: -14px;
}
.tp {
  border-top: 4px solid green;
}
.buton {
  cursor: pointer;
}
.sig {
  color: green;
  opacity: 0.8;
  float: right;
  text-decoration: none;
}
.gose {
  float: right;
  animation: mover 2s infinite alternate;
}
@keyframes mover {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
