@import url("http://fonts.cdnfonts.com/css/algeria");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Algeria";
}
body {
  background: #f0f0f0;
  transition: 0.5s;
}
.rig {
  border-radius: 30% 30% 0% 0%;
}
.let {
  border-radius: 0% 0% 5% 90%;
  margin-left: -14px;
}
.ded {
  border-radius: 0% 0% 90% 0%;
  margin-right: -14px;
}
